// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$darkRed: #ec275f;
$lightRed: #f25477;
$darkPink: #ffa7a6;
$lightPink: #ffdcdc;
$darkBlue: #d4e0ee;
$lightBlue: #f3fafe;
